@model CommerceBank.Models.Notifica
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}



<h1>Create Transaction</h1>
<h5>Total Balance - $@UserManager.Users.FirstOrDefault(u => u.Id == UserManager.GetUserId(User)).TotalBalance</h5>
@ViewBag.ErrorMesage


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
      
            <div class="form-group">
                <label asp-for="NotificationType" class="control-label"></label>
                <select asp-for="NotificationType" class="form-control">
                        <option value="Location">Location</option>
                        <option value="Category">Category</option>
                        <option value="Amount Exceed">Amount Exceed</option>
                </select>
                <span asp-validation-for="NotificationType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NotificationRule" class="control-label"></label>
                <input asp-for="NotificationRule" class="form-control" />
                <span asp-validation-for="NotificationRule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Notification" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
