@model CommerceBank.Models.Notifica

@{
    ViewData["Title"] = "Edit";
}

<h1>Transaction - Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserKey" />
            
            <div class="form-group">
                <label asp-for="NotificationType" class="control-label"></label>
                <select asp-for="NotificationType" class="form-control">
                        <option value="Location">Location</option>
                        <option value="Category">Category</option>
                        <option value="Amount Exceed">Amount Exceed</option>
                </select>
                <span asp-validation-for="NotificationType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NotificationRule" class="control-label"></label>
                <input asp-for="NotificationRule" class="form-control" />
                <span asp-validation-for="NotificationRule" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
